html,
body {
    -webkit-font-smoothing: antialiased;
}

html.interface-interface-skeleton__html-container .components-resizable-box__container {
    color: $black;
    background-color: $white;

    @include b0;
}

body {
    html:not(.interface-interface-skeleton__html-container) & {
        color: $black;
        background-color: $white;

        @include b0;
    }
}
